*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    background-color: rgba(225, 221, 221, 0.808);
    
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }
    .card{

        margin: .5rem 0;

        .car-service{
            max-width: 25rem;
            height: 100%;
            width: 100%;
            background-color: #203040;  
            color: #f7f8f9;
            text-align: center;
            margin: 1rem;
           
        }
        .footer-item{
            padding: 3rem 0;
            h3{
                text-align: center;
                text-transform: uppercase;
                // margin-right: 1rem;
            }
        }
        .imgfooter{
            margin:  1rem;
            background-color: white;
            h3{
                text-align: center;
                text-transform: uppercase;
                margin-right: 1rem;
            }
        }
    }
  
}



img{
    display: block;
    margin-right: 1rem;
}
