.car{
    max-width: 10rem;
    height: 100%;
    // width: 100%;
    background-color: #f8f8f8;
    // border: .1rem solid rgb(161, 130, 130)
    margin: 1rem 3rem;
}
img{
    max-width: 29rem;
    width: 100%;
    background-color: #f8f8f8;
    max-height: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: center;
    h2{
        text-align: center;
    }
}

.brand-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    line-height: 1.4;
    
    h2{
        font-weight: bold;
        font-size: 30px;
    }
    p{
        color: #333;
        margin-top: .5rem;
    }
    span{
        border: 1px solid red;
        width: 4rem;
        margin-top: .5rem;
    }
}