footer{ 
    
    text-align: center;
    background-color: #203040;
    color: #f7f8f9;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
   
}